itemgrid-framed {
    .itemgrid-framed-title {
        display: block;
        position: sticky;
        top: 0px;
        padding-left: 10px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        font-size: 17px;
        font-family: "Raleway", "Roboto", "Helvetica", sans-serif;
        background-color: map-get($colors, secondary);

        /*ion-icon {
            position: absolute;
            right: 10px;
            top: 5px;
        }*/
    }

    .itemgrid-framed-grid {
        margin: 0;
        margin-top: -5px; /* Substract from 'li margin-top' so the list aligns to the top while the items keep their spacing */
        margin-bottom: 20px; /* Extra spacing at the end of the list */
        padding: 0;
        padding-left: 4px;
        padding-right: 4px; /* Spacing to the left and right edges of the screen */ 

        display: grid;
        grid-gap: 8px; /* Gap between columns */
        grid-template-columns: repeat(auto-fill, 106px); /* 106px Image-size */
        justify-content: space-around; 

        list-style: none;
        li {
            margin-top: 10px;
            width: 106px;
            height: 126px;

            img {
                width: 106px;
                height: 106px;
                border: 3px solid map-get($colors , secondary);
                border-radius: 50%;
            }

            span {
                display: block;
                width: 100%;
                text-align: center;
                color: white;
                font-size: 14px;
                font-family: "Raleway", "Roboto", "Helvetica", sans-serif;
            }
        }
    }
}