<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{this.weaponObject.name}}</ion-title>
        <ion-buttons right>
            <ion-checkbox [(ngModel)]="this.owned" (ionChange)="this.onOwnedClicked()"></ion-checkbox>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="page-content">
    
    <div class="content-header">
        <img src={{this.weaponObject.img}}>
    </div>

    <div class="content-section">
        <h4>Utility</h4>

        <!-- Mastery -->
        <p *ngIf="this.isDeltaArray(this.weaponObject.mastery) else nonDeltaMastery">
            <span [ngSwitch]="this.weaponObject.mastery[this.weaponObject.mastery.length - 1]">
                <b *ngSwitchCase="'+'" style="color:green">Mastery Rank: </b>
                <b *ngSwitchCase="'-'" style="color:red">Mastery Rank: </b>
                <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
            </span>
            {{this.weaponObject.mastery[0]}}
        </p>
        <ng-template #nonDeltaMastery>
            <p *ngIf="this.weaponObject.mastery != undefined"><b>Mastery Rank: </b>{{this.weaponObject.mastery}}</p>
        </ng-template>

        <!-- Block Resistance -->
        <p *ngIf="this.isDeltaArray(this.weaponObject.blockResist) else nonDeltaBlockResist">
            <span [ngSwitch]="this.weaponObject.blockResist[this.weaponObject.blockResist.length - 1]">
                <b *ngSwitchCase="'+'" style="color:green">Block Resist: </b>
                <b *ngSwitchCase="'-'" style="color:red">Block Resist: </b>
                <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
            </span>
            {{this.weaponObject.blockResist[0]}}%
        </p>
        <ng-template #nonDeltaBlockResist>
            <p *ngIf="this.weaponObject.blockResist != undefined"><b>Block Resist: </b>{{this.weaponObject.blockResist}}%</p>
        </ng-template>

        <!-- Finisher Damage -->
        <p *ngIf="this.isDeltaArray(this.weaponObject.finisherDamage) else nonDeltaFinisherDamage">
            <span [ngSwitch]="this.weaponObject.finisherDamage[this.weaponObject.finisherDamage.length - 1]">
                <b *ngSwitchCase="'+'" style="color:green">Finisher Damage: </b>
                <b *ngSwitchCase="'-'" style="color:red">Finisher Damage: </b>
                <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
            </span>
            <ng-container *ngIf="this.weaponObject.finisherDamage[0] != undefined else unknownFinisherDamage">{{this.weaponObject.finisherDamage[0]}}</ng-container>
            <ng-template #unknownFinisherDamage>???</ng-template>
        </p>
        <ng-template #nonDeltaFinisherDamage>
            <p>
                <b>Finisher Damage: </b>
                <ng-container *ngIf="this.weaponObject.finisherDamage != undefined else unknownFinisherDamage">{{this.weaponObject.finisherDamage}}</ng-container>
                <ng-template #unknownFinisherDamage>???</ng-template>
            </p>
        </ng-template>

        <!-- Polarities -->
        <p *ngIf="this.isDeltaArray(this.weaponObject.polarities) else nonDeltaPolarities">
            <span [ngSwitch]="this.weaponObject.polarities[this.weaponObject.polarities.length - 1]">
                <b *ngSwitchCase="'+'" style="color:green">Polarities: </b>
                <b *ngSwitchCase="'m'" style="color:yellow">Polarities: </b>
                <b *ngSwitchCase="'-'" style="color:red">Polarities: </b>
                <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
            </span>
            <span *ngFor="let polarity of this.weaponObject.polarities[0]" [class]="'wficons-' + polarity"></span>
        </p>
        <ng-template #nonDeltaPolarities>
            <p *ngIf="this.weaponObject.polarities != undefined"><b>Polarities: </b><span *ngFor="let polarity of this.weaponObject.polarities" [class]="'wficons-' + polarity"></span></p>
        </ng-template>

        <!-- Stance Polarity -->
        <p *ngIf="this.isDeltaArray(this.weaponObject.stancePolarity) else nonDeltaStancePolarity">
            <span [ngSwitch]="this.weaponObject.stancePolarity[this.weaponObject.stancePolarity.length - 1]">
                <b *ngSwitchCase="'+'" style="color:green">Stance Polarity: </b>
                <b *ngSwitchCase="'m'" style="color:yellow">Stance Polarity: </b>
                <b *ngSwitchCase="'-'" style="color:red">Stance Polarity: </b>
                <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
            </span>
            <span [class]="'wficons-' + this.weaponObject.stancePolarity[0]"></span>
        </p>
        <ng-template #nonDeltaStancePolarity>
            <p *ngIf="this.weaponObject.stancePolarity != undefined"><b>Stance Polarity: </b><span [class]="'wficons-' + this.weaponObject.stancePolarity"></span></p>
        </ng-template>
    </div>

    <ng-container *ngFor="let attackObject of this.weaponObject.attacks">
        <hr class="content-seperator">
        <div class="content-section">

            <!-- Attack Type -->
            <ng-container *ngIf="this.isDeltaArray(attackObject.attackType) else nonDeltaAttackType">
                <span [ngSwitch]="attackObject.attackType[attackObject.attackType.length - 1]">
                    <h4 *ngSwitchCase="'+'" style="color:green">{{attackObject.attackType[0]}} Attack</h4>
                    <h4 *ngSwitchCase="'m'" style="color:yellow">{{attackObject.attackType[0]}} Attack</h4>
                    <h4 *ngSwitchDefault>Corrupted JSON data, please contact the developer!</h4>
                </span>
            </ng-container>
            <ng-template #nonDeltaAttackType>
                <h4>{{attackObject.attackType}} Attack</h4>
            </ng-template>
          
            <!-- Attack Name -->
            <ng-container *ngIf="this.isDeltaArray(attackObject.attackName) else nonDeltaAttackName">
                <p><b>Name: </b>{{attackObject.attackName[0]}}</p>
            </ng-container>
            <ng-template #nonDeltaAttackName>
                <p *ngIf="attackObject.attackName != undefined"><b>Name: </b>{{attackObject.attackName}}</p>
            </ng-template>
          
            <!-- Shot Type -->
            <p *ngIf="this.isDeltaArray(attackObject.shotType) else nonDeltaAttackShotType">
                <span [ngSwitch]="attackObject.shotType[attackObject.shotType.length - 1]">
                    <b *ngSwitchCase="'m'" style="color:yellow">Shot Type: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.shotType[0]}}
            </p>
            <ng-template #nonDeltaAttackShotType>
                <p *ngIf="attackObject.shotType != undefined"><b>Shot Type: </b>{{attackObject.shotType}}</p>
            </ng-template>
          
            <!-- Charge Time -->
            <p *ngIf="this.isDeltaArray(attackObject.chargeTime) else nonDeltaAttackChargeTime">
                <span [ngSwitch]="attackObject.chargeTime[attackObject.chargeTime.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Charge Time: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Charge Time: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.chargeTime[0]}}s
            </p>
            <ng-template #nonDeltaAttackChargeTime>
                <p *ngIf="attackObject.chargeTime != undefined"><b>Charge Time: </b>{{attackObject.chargeTime}}s</p>
            </ng-template>
          
            <!-- Damage -->
            <div *ngIf="attackObject.damage != undefined" style="display: flex; flex-direction: row;">
                <b style="padding-right: 5px">Damage:</b>
                <!-- Direct values -->
                <ng-container *ngIf="!this.unsafeIsObject(attackObject.damage) else objectTypeDamage">
                    <span *ngIf="this.isDeltaArray(attackObject.damage) else nonDeltaAttackDamage" [ngSwitch]="attackObject.damage[attackObject.damage.length - 1]">
                        <b *ngSwitchCase="'+'" style="color:green" >{{attackObject.damage[0]}}</b>
                        <b *ngSwitchCase="'-'" style="color:red">{{attackObject.damage[0]}}</b>
                        <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                    </span>
                    <ng-template #nonDeltaAttackDamage>{{attackObject.damage}}</ng-template>
                </ng-container>
              
                <!-- Object type -->
                <ng-template #objectTypeDamage>
                    <table>
                        <tr *ngFor="let key of this.keysOf(attackObject.damage); index as index;">
                            <ng-container *ngIf="this.isDeltaArray(attackObject.damage[key]) else nonDeltaAttackDamage">
                                <span [ngSwitch]="attackObject.damage[key][attackObject.damage[key].length - 1]">
                                    <b *ngSwitchCase="'+'" style="color:green" >{{attackObject.damage[key][0]}} </b>
                                    <b *ngSwitchCase="'m'" style="color:yellow">{{attackObject.damage[key][0]}} </b>
                                    <b *ngSwitchCase="'-'" style="color:red">{{attackObject.damage[key][0]}} </b>
                                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                                </span>
                                <span [class]="'wficons-' +  key.toLowerCase()"></span>
                            </ng-container>
                            <ng-template #nonDeltaAttackDamage>
                                <span *ngIf="attackObject.damage[key] != undefined">{{attackObject.damage[key]}} <span [class]="'wficons-' +  key.toLowerCase()"></span></span>
                            </ng-template>
                        </tr>
                    </table>
                </ng-template>
            </div>
          
            <!-- Radius -->
            <p *ngIf="this.isDeltaArray(attackObject.radius) else nonDeltaAttackRadius">
                <span [ngSwitch]="attackObject.radius[attackObject.radius.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Radius: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Radius: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.radius[0]}}m
            </p>
            <ng-template #nonDeltaAttackRadius>
                <p *ngIf="attackObject.radius != undefined"><b>Radius: </b>{{attackObject.radius}}m</p>
            </ng-template>
          
            <!-- Duration -->
            <p *ngIf="this.isDeltaArray(attackObject.duration) else nonDeltaAttackDuration">
                <span [ngSwitch]="attackObject.duration[attackObject.duration.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Duration: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Duration: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.duration[0]}}s
            </p>
            <ng-template #nonDeltaAttackDuration>
                <p *ngIf="attackObject.duration != undefined"><b>Duration: </b>{{attackObject.duration}}s</p>
            </ng-template>
          
            <!-- Attack Speed -->
            <p *ngIf="this.isDeltaArray(attackObject.attackSpeed) else nonDeltaAttackSpeed">
                <span [ngSwitch]="attackObject.attackSpeed[attackObject.attackSpeed.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Attack Speed: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Attack Speed: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.attackSpeed[0]}}
            </p>
            <ng-template #nonDeltaAttackSpeed>
                <p *ngIf="attackObject.attackSpeed != undefined"><b>Attack Speed: </b>{{attackObject.attackSpeed}}</p>
            </ng-template>
          
            <!-- Shot Speed -->
            <p *ngIf="this.isDeltaArray(attackObject.shotSpeed) else nonDeltaAttackShotSpeed">
                <span [ngSwitch]="attackObject.shotSpeed[attackObject.shotSpeed.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Shot Speed: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Shot Speed: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.shotSpeed[0]}}m/s
            </p>
            <ng-template #nonDeltaAttackShotSpeed>
                <p *ngIf="attackObject.shotSpeed != undefined"><b>Shot Speed: </b>{{attackObject.shotSpeed}}m/s</p>
            </ng-template>
          
            <!-- Punch Through -->
            <p *ngIf="this.isDeltaArray(attackObject.punchThrough) else nonDeltaAttackPunchThrough">
                <span [ngSwitch]="attackObject.punchThrough[attackObject.punchThrough.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Punch Through: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Punch Through: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.punchThrough[0]}}m
            </p>
            <ng-template #nonDeltaAttackPunchThrough>
                <p *ngIf="attackObject.punchThrough != undefined"><b>Punch Through: </b>{{attackObject.punchThrough}}m</p>
            </ng-template>
          
            <!-- Crit Chance -->
            <p *ngIf="this.isDeltaArray(attackObject.critChance) else nonDeltaAttackCritChance">
                <span [ngSwitch]="attackObject.critChance[attackObject.critChance.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Crit Chance: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Crit Chance: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.critChance[0]}}%
            </p>
            <ng-template #nonDeltaAttackCritChance>
                <p *ngIf="attackObject.critChance != undefined"><b>Crit Chance: </b>{{attackObject.critChance}}%</p>
            </ng-template>
          
            <!-- Crit Damage -->
            <p *ngIf="this.isDeltaArray(attackObject.critDamage) else nonDeltaAttackCritDamage">
                <span [ngSwitch]="attackObject.critDamage[attackObject.critDamage.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Crit Multiplier: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Crit Multiplier: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.critDamage[0]}}x
            </p>
            <ng-template #nonDeltaAttackCritDamage>
                <p *ngIf="attackObject.critDamage != undefined"><b>Crit Multiplier: </b>{{attackObject.critDamage}}x</p>
            </ng-template>
          
            <!-- Status Chance -->
            <p *ngIf="this.isDeltaArray(attackObject.statusChance) else nonDeltaAttackStatusChance">
                <span [ngSwitch]="attackObject.statusChance[attackObject.statusChance.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Status Chance: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Status Chance: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.statusChance[0]}}%
            </p>
            <ng-template #nonDeltaAttackStatusChance>
                <p *ngIf="attackObject.statusChance != undefined"><b>Status Chance: </b>{{attackObject.statusChance}}%</p>
            </ng-template>
          
            <!-- Range -->
            <p *ngIf="this.isDeltaArray(attackObject.range) else nonDeltaAttackRange">
                <span [ngSwitch]="attackObject.range[attackObject.range.length - 1]">
                    <b *ngSwitchCase="'+'" style="color:green">Range: </b>
                    <b *ngSwitchCase="'-'" style="color:red">Range: </b>
                    <b *ngSwitchDefault>Corrupted JSON data, please contact the developer!</b>
                </span>
                {{attackObject.range[0]}}m
            </p>
            <ng-template #nonDeltaAttackRange>
                <p *ngIf="attackObject.range != undefined"><b>Range: </b>{{attackObject.range}}m</p>
            </ng-template>

        </div>
    </ng-container>
 
</ion-content>